# Dependencies
node_modules/
.bun/

# Build outputs
dist/
build/
.output/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun.lockb

# OS & Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary & Test files
coverage/
.nyc_output/
*.tmp
*.temp
